.payment-method-container {
    display: flex;
    justify-content: space-between;
  }
  
  .payment-method {
    display: flex;
    align-items: center;
  }
  .success-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }  